html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #202020;
    overflow: hidden;
    cursor: url("../public/pics/cursor.png"), auto !important;
}
@font-face {
    font-family: Monument Extended;
    src: url(../public/MonumentExtended-Regular.ttf);
}
.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    font-size: large;
    text-transform: uppercase;
    color: white;
    z-index: 2;
}

.container {
    position: absolute;
    width: 200%;
    height: 200vh;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}
.card{
    width: 22rem;
    height: 29rem;
    background: grey;
    margin: 0em;
    filter: grayscale(1);
    opacity: 0.4;
    transition: 1s;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.card:hover{
    filter: grayscale(0);
    opacity: 1;
}